#startButton{
  width: 50px;
  height: 50px;
  border-radius: 5px black;
  background-color: gold;
}
div{
  //border: 5px solid black;
}
#canvas{
  height: 90%;
  width: 90%;
  overflow:hidden;
  left:200px;
  top: 20px;
  position: fixed;
  margin-bottom: 20px;
  margin-right : 60px;
  	//opacity: 0.1	;
}
input[type=color] {
  width: 40px;
  height: 40px;
  margin-left : 20px;
 // border: 2px solid grey;
}

	